# WARNING: Paths must not include the name of the "lessons" directory.
# Outside, this directory is called "exercises".

**/*/presentation*.html
.vagrant
.idea/
node_modules/
vendor/
dist
.gradle/
build/
caches/
.vscode/
.project
.settings
jte-classes
.classpath
bin
